@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-property: background-color, border-color, text-decoration-color,
    fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
